.videoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-14.9rem);
    width: 80%;
    margin: 0 auto;
}

.video {
    height: 20rem;
    width: 100%;
    background: #eee;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}

.title {
    margin: 4rem 0;
    text-align: center;
}

.descrip {
    line-height: 1.5;
    font-size: 1.75rem;
    word-break: break-all;
}
